.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: silver;
}

.Header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(192, 186, 186);
    padding: auto;
}

.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(192, 186, 186);
}

.Main {
    font-size: 10vh;
    font-family: fantasy;
    font-style: oblique;
    font-variant: initial;
}